a {
    background-color: #1D1E2C;
    color: #F7EBEC;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  body{
    color: #1D1E2C;
    background-color: #F7EBEC;
    font-family: 'Puritan', sans-serif;
    margin: 50px;
  }
  h1
  font-size: 30px;
  margin: 50px auto 20px auto;
  font-family: 'Puritan', sans-serif;
  text-align: center